<h4 class="center-align"><%= @show.title %> (<%= @show.year %>)</h4>
<div class="show-genres center-align">
  <% @show_genres.each do |genre| %>
    <div class="chip hoverable">
      <%= link_to genre.title, admin_genre_path(genre) %>
    </div>
  <% end %>
</div>
<div class="center-align">
  <p class="flow-text">Episode Runtime: <%= @show.runtime %> minutes</p>
</div>
<h5 class="center-align">
  <%= link_to 'Edit', edit_admin_show_path(@show), class: 'waves-effect waves-light btn-small' %>
  <%=
      link_to 'Delete',
      admin_show_path(@show),
      method: :delete,
      data: confirm_destroy(@show.title),
      class: 'waves-effect waves-light btn-small'
  %>
</h5>

<div class="row">
  <div class="col s6">
    <h5>Edit Genres for <%= @show.title %></h5>
    <h6><%= link_to 'Add New Genre', new_admin_genre_path %>
    <%= form_for [:admin, @show, @new_show_genres] do |f| %>
      <%=
         f.select :id,
         @genres.map {|genre| [genre.title, genre.id]},
         { selected: @show.genres.map(&:id) },
         { multiple: true, size: 10, id: 'genre-box' }
      %>

      <%= f.submit 'Update Genres' %>
    <% end %>
  </div>
  <div class="col s6">
    <p class="flow-text overview-text"><%= @show.overview %></p>
  </div>
</div>
