<h4 class="center-align"><%= @show.title %> (<%= @show.year %>)</h4>
<h5 class="center-align">
  <%= link_to 'Edit', edit_admin_show_path(@show), class: 'waves-effect waves-light btn-small' %>
  <%=
      link_to 'Delete',
      admin_show_path(@show),
      method: :delete,
      data: confirm_destroy(@show.title),
      class: 'waves-effect waves-light btn-small'
  %>
</h5>

<div class="show-genres">
  <h5><strong>Genres:</strong>
    <% @show.genres.each do |genre| %>
      <%= "#{genre.title}" %>
    <% end %>
  </h5>
</div>

<h5>Edit Genres for <%= @show.title %></h5>
<%= form_for [:admin, @show, @new_show_genres] do |f| %>
  <%= f.label :title %>
  <%=
     f.select :id,
     @genres.map {|genre| [genre.title, genre.id]},
     {},
     { :multiple => true, size: 10, id: 'genre-box' }
  %>

  <%= f.submit 'Update Genres' %>
<% end %>
