<h3 class="center-align">Change Password</h3>

<%= form_for [:settings, @user] do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Change Password' %>
<% end %>
