<h4 class="center-align"><%= @show.title %> (<%= @show.year %>)</h4>
<div class="show-genres center-align">
  <% @genres.each do |genre| %>
    <div class="chip">
      <%= link_to genre.title, admin_genre_path(genre) %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col s6">
    <%= image_tag("shows/#{@show.image}", class: "responsive-img poster-img right" ) %>
  </div>
  <div class="col s6">
    <% if current_user && show_rated?(@show, current_user) %>
        <h5>Submit Rating for <%= @show.title %></h5>
        <%= form_for [@show, :user, @rating] do |f| %>
          <%= f.label  :score, 'Show Review Score' %>
          <%= f.select :score, options_for_select(1..10) %>

          <%= f.label  :bingecount, 'Episodes Watched Per Session' %>
          <%= f.select :bingecount, options_for_select(1..20) %>

          <%= f.submit 'Submit Rating' %>
        <% end %>
      <% elsif current_user %>
        <div id="stats-user-<%= current_user.id %>">
          <p class="flow-text">
            Your Review Score: <%= current_user.score(@show) %><br />
            Your BingeCount: <%= current_user.bingecount(@show) %><br />
            Your BingeScore: <%= current_user.bingescore(@show) %><br />

              <%=
                  link_to 'Delete Rating',
                  show_user_rating_path(@show, current_user_rating(@show, current_user)),
                  method: :delete,
                  data: { confirm: "Delete rating for #{@show.title}?" }
              %>
          </p>
        </div>
    <% end %>
  </div>
  <div class="col s6">
    <% if @show.ratings.empty? %>
      <p class="flow-text">No rating information for this show yet.</p>
    <% else %>
      <div id="stats-all">
        <p class="flow-text">
          Average Review Score: <%= @show.avg_score %><br />
          Average BingeCount: <%= @show.avg_bingecount %><br />
          BingeScore: <%= @show.bingescore %>
        </p>
      </div>
    <% end %>
  </div>
</div>
