<h4 class="center-align"><%= @show.title %> (<%= @show.year %>)</h4>
<div class="show-genres center-align">
  <% @genres.each do |genre| %>
    <div class="chip hoverable">
      <%= link_to genre.title, genre_path(genre) %>
    </div>
  <% end %>
</div>
<div class="center-align">
  <p class="flow-text">Episode Runtime: <%= @show.runtime %> minutes</p>
</div>
<div class="row">
  <div class="col l5">
    <%= image_tag("#{@show.image}", class: "responsive-img poster-img left hoverable" ) %>
  </div>
  <div class="col l7">
    <p class="flow-text overview-text"><%= @show.overview %></p>
    <% if @show.ratings.empty? %>
      <span class="flow-text">No rating information for this show yet.</span>
    <% else %>
      <div id="stats-all">
        <table class="rating-table">
          <tr class="no-borders">
            <td>Total Ratings</td>
            <td><%= @show.total_ratings %></td>
          </tr>
          <tr class="no-borders">
            <td>Average Review Score</td>
            <td><%= @show.avg_score %>/10</td>
          </tr>
          <tr class="no-borders">
            <td>Average BingeCount</td>
            <td><%= @show.avg_bingecount %> episodes</td>
          </tr>
          <tr class="no-borders">
            <td>BingeScore</td>
            <td><%= @show.bingescore %></td>
          </tr>
        </table>
      </div>
    <% end %>
    <% if current_user && current_user.show_rated?(@show) %>
      <hr>
      <div id="stats-user-<%= current_user.id %>">
        <table class="rating-table">
          <tr class="no-borders">
            <td>Your Review Score</td>
            <td><%= current_user.score(@show) %>/10</td>
          </tr>
          <tr class="no-borders">
            <td>Your BingeCount</td>
            <td><%= current_user.bingecount(@show) %> episodes</td>
          </tr>
          <tr class="no-borders">
            <td>Your BingeScore</td>
            <td><%= current_user.bingescore(@show) %></td>
          </tr>
        </table>
        <%=
            link_to 'Delete Your Rating',
            show_user_rating_path(@show, current_user.current_user_rating(@show)),
            method: :delete,
            data: { confirm: "Delete rating for #{@show.title}?" },
            class: 'btn waves-effect waves-light'
        %>
      </div>
      <% elsif current_user %>
        <hr>
        <span class="flow-text">Submit Rating for <%= @show.title %></span>
        <%= form_for [@show, :user, @rating] do |f| %>
          <%= f.label  :score, "Your Review For #{@show.title}" %>
          <%= f.select :score, options_for_select((1..10).map { |n| ["#{n}/10", n] }) %>

          <%= f.label  :bingecount, "#{@show.title} Episodes Watched Per Session" %>
          <%= f.select :bingecount, options_for_select((1..12).map { |n| ["#{n} episodes", n] }) %>

          <%= f.submit 'Submit Rating', class: 'btn waves-effect waves-light' %>
        <% end %>
    <% end %>
  </div>
</div>
