<h4 class="center-align"><%= @show.title %> (<%= @show.year %>)</h4>
<div class="show-genres">
  <h5><strong>Genres:</strong>
    <% @show.genres.each do |genre| %>
      <div class="chip">
        <%= link_to genre.title, admin_genre_path(genre) %>
      </div>
    <% end %>
  </h5>
</div>

<% if current_user && show_rated?(@show, current_user) %>
    <h5>Submit Rating for <%= @show.title %></h5>
    <%= form_for [@show, :user, @rating] do |f| %>
      <%= f.label :score %>
      <%= f.select :score, options_for_select(1..10) %>

      <%= f.label :bingecount %>
      <%= f.select :bingecount, options_for_select(1..20) %>

      <%= f.submit 'Submit Rating' %>
    <% end %>
  <% elsif current_user %>
    <div id="stats-user-<%= current_user.id %>">
      <p>Your Review Score: <%= current_user.score(@show) %></p>
      <p>Your BingeCount: <%= current_user.bingecount(@show) %></p>
      <p>Your BingeScore: <%= current_user.bingescore(@show) %></p>
    </div>
<% end %>

<% if @show.ratings.empty? %>
  <p>No rating information for this show yet.</p>
<% else %>
  <div id="stats-all">
    <p>Average Review Score: <%= @show.avg_score %></p>
    <p>Average BingeCount: <%= @show.avg_bingecount %></p>
    <p>BingeScore: <%= @show.bingescore %></p>
  </div>
<% end %>
