<!DOCTYPE html>
<html>
  <head>
    <title>BingeHelper</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </head>
  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper blue-grey darken-2">
        <%= link_to 'BingeHelper', root_path, class: 'brand-logo' %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Shows', admin_shows_path %></li>
          <li><%= link_to 'Genres', '#' %></li>
          <li><a href="badges.html">Ratings</a></li>
          <li>&emsp;&emsp;&emsp;</li>
          <% if current_user %>
            <li><%= link_to current_user.email, settings_user_path(current_user), id: 'desktop-user-link' %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete, id: 'desktop-log-out' %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_path, id: 'desktop-sign-up' %></li>
            <li><%= link_to 'Log In', login_path, id: 'desktop-log-in' %></li>
          <% end %>
        </ul>
      </div>

      <!-- admin only menu -->
      <% if current_user && current_user.admin? %>
        <div class="nav-content blue-grey darken-3">
          <ul class="tabs tabs-transparent">
            <li class="tab">Admin Tools</li>
            <li class="tab"><%= link_to 'Shows', admin_shows_path %></li>
            <li class="tab"><%= link_to 'Genres', admin_genres_path %></li>
            <li class="tab"><a href="#">Ratings</a></li>
          </ul>
        </div>
      <% end %>
      <!-- end admin only menu -->

    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><%= link_to 'Shows', admin_shows_path %></li>
      <li><a href="badges.html">Ratings</a></li>
      <li><a href="collapsible.html">Genres</a></li>
      <li><a href="mobile.html">Tags</a></li>
      <li>&emsp;</li>
      <% if current_user %>
        <li><%= link_to current_user.email, settings_user_path(current_user), id: 'mobile-user-link'  %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete, id: 'mobile-log-out' %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_path, id: 'mobile-sign-up' %></li>
        <li><%= link_to 'Log In', login_path, id: 'mobile-log-in' %></li>
      <% end %>
    </ul>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
