<!DOCTYPE html>
<html>
  <head>
    <title>BingeHelper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-2">
        <a href="#!" class="brand-logo">BingeHelper</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Shows', admin_shows_path %></li>
          <li><a href="badges.html">Ratings</a></li>
          <li><a href="collapsible.html">Genres</a></li>
          <li><a href="mobile.html">Tags</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><%= link_to 'Shows', admin_shows_path %></li>
      <li><a href="badges.html">Ratings</a></li>
      <li><a href="collapsible.html">Genres</a></li>
      <li><a href="mobile.html">Tags</a></li>
    </ul>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
